.DS_Store

.htaccess
*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess
/config/*.php
uploadImage/
.phpintel/
vendor/
.env
baaldahab.code-workspace
/nbproject/private/
all_info.txt

assets/pdfs/*
node_api/
